.todayInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.Main_info_temprature{
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 96px;
    line-height: 117px;
    color: #4793FF;
}
.todayInfo_Main_day{
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
}
.gray{
    color: #939CB0;
}
.todayInfo_Main_date{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 4px;
}
.Main_img{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.Main_img > img{
    width: 100px;
}
.todayInfo_Main{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
}
.background_black{
    background-color: #4F4F4F;
}
.Main_info{
    
}
.black_info{}


.Main_footer_time,.Main_footer_location{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #939CB0;
}
.today_info_details{
    max-width: 750px;
    width: 100%;
    padding: 30px 40px;
    background: #F5F7FF url('../../../../public/img/imgDetails/cloud.png') no-repeat right top;
    border-radius: 20px;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
}
.black_background{
    background: rgba(24, 28, 37, 0.92) url('../../../../public/img/imgDetails/cloud.png') no-repeat right top;
    color: #E6ECFF;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
}
.thisDayItem_Details{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.today_item_value{

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

}
.black_background .today_item_value{
    color: #E6ECFF;
}
.black_background .today_item_name{
    color: #A5B8FF;
}
