@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body{
    padding: 0;
    margin: auto;
    }
#root{
    height: 100%;
}
*{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;

}
.App{
    max-width: 1200px;
    padding: 0;
    margin: auto;
    }
.wrapper{
    height: 100%;
    width: 100%;
}
.root,.black_bg{
    background-color: black;
}
.root,.white_bg{
    background-color: white;
}