@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body{
    max-width: 1200px;
    padding: 0;
    margin: auto;
    }
*{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;

}
body,.App,.black_bg{
    background-color: black;
}
body,.App,.white_bg{
    background-color: white;
}