@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
#root{
    min-height: 100vh;
}
*{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}
.App{
    max-width: 1200px;
    padding: 0;
    margin: auto;
}
.wrapper{
    min-height: 100vh;
    width: 100%;
}
.root,.black_bg{
    background-color: #0B0B0F;
}
.root,.white_bg{
    background-color: #F5F7FF;
}
